* {
    padding: none;
    margin: 0;
}

:root {
    --size: 16;
}

body {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 10vh 90vh;
}

header {
    height: 100px;
    width: 100%;
    grid-column: 2;
    grid-row: 1;
}

#title {
    text-align: center;
}

.container {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    min-width: 100%;
    min-height: 100%;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    background: rgb(190, 190, 190);
    margin: auto;
}

.pixel {
    width: auto;
    height: auto;
}
